
.idea/vcs.xml
.idea/misc.xml
.idea/jarRepositories.xml
.idea/gradle.xml
.idea/compiler.xml
.gradle/vcs-1/gc.properties
.gradle/loom-cache/remapped_mods/net_fabricmc_yarn_1_18_1_18_build_1_v2/net/fabricmc/fabric-loader/0.12.5/fabric-loader-0.12.5.pom
.gradle/loom-cache/remapped_mods/net_fabricmc_yarn_1_18_1_18_build_1_v2/net/fabricmc/fabric-loader/0.12.5/fabric-loader-0.12.5.jar
.gradle/loom-cache/remapped_mods/net_fabricmc_yarn_1_18_1_18_build_1_v2/net/fabricmc/fabric-loader/0.12.5/fabric-loader-0.12.5-sources.jar
.gradle/loom-cache/remapped_mods/net_fabricmc_yarn_1_18_1_18_build_1_v2/net/fabricmc/fabric-api/fabric-screen-api-v1/1.0.4+cbda931888/fabric-screen-api-v1-1.0.4+cbda931888.pom
.gradle/loom-cache/remapped_mods/net_fabricmc_yarn_1_18_1_18_build_1_v2/net/fabricmc/fabric-api/fabric-screen-api-v1/1.0.4+cbda931888/fabric-screen-api-v1-1.0.4+cbda931888.jar
.gradle/loom-cache/remapped_mods/net_fabricmc_yarn_1_18_1_18_build_1_v2/net/fabricmc/fabric-api/fabric-screen-api-v1/1.0.4+cbda931888/fabric-screen-api-v1-1.0.4+cbda931888-sources.jar
.gradle/loom-cache/remapped_mods/net_fabricmc_yarn_1_18_1_18_build_1_v2/net/fabricmc/fabric-api/fabric-resource-loader-v0/0.4.8+a00e834b88/fabric-resource-loader-v0-0.4.8+a00e834b88.pom
.gradle/loom-cache/remapped_mods/net_fabricmc_yarn_1_18_1_18_build_1_v2/net/fabricmc/fabric-api/fabric-resource-loader-v0/0.4.8+a00e834b88/fabric-resource-loader-v0-0.4.8+a00e834b88.jar
.gradle/loom-cache/remapped_mods/net_fabricmc_yarn_1_18_1_18_build_1_v2/net/fabricmc/fabric-api/fabric-resource-loader-v0/0.4.8+a00e834b88/fabric-resource-loader-v0-0.4.8+a00e834b88-sources.jar
.gradle/loom-cache/remapped_mods/net_fabricmc_yarn_1_18_1_18_build_1_v2/net/fabricmc/fabric-api/fabric-api-base/0.3.0+a02b446388/fabric-api-base-0.3.0+a02b446388.pom
.gradle/loom-cache/remapped_mods/net_fabricmc_yarn_1_18_1_18_build_1_v2/net/fabricmc/fabric-api/fabric-api-base/0.3.0+a02b446388/fabric-api-base-0.3.0+a02b446388.jar
.gradle/loom-cache/remapped_mods/net_fabricmc_yarn_1_18_1_18_build_1_v2/net/fabricmc/fabric-api/fabric-api-base/0.3.0+a02b446388/fabric-api-base-0.3.0+a02b446388-sources.jar
.gradle/loom-cache/remapped_mods/net_fabricmc_yarn_1_18_1_18_build_1_v2/me/shedaniel/cloth/cloth-config-fabric/6.0.42/cloth-config-fabric-6.0.42.pom
.gradle/loom-cache/remapped_mods/net_fabricmc_yarn_1_18_1_18_build_1_v2/me/shedaniel/cloth/cloth-config-fabric/6.0.42/cloth-config-fabric-6.0.42.jar
.gradle/loom-cache/remapped_mods/net_fabricmc_yarn_1_18_1_18_build_1_v2/me/shedaniel/cloth/basic-math/0.6.0/basic-math-0.6.0.pom
.gradle/loom-cache/remapped_mods/net_fabricmc_yarn_1_18_1_18_build_1_v2/me/shedaniel/cloth/basic-math/0.6.0/basic-math-0.6.0.jar
.gradle/loom-cache/remapped_mods/net_fabricmc_yarn_1_18_1_18_build_1_v2/me/shedaniel/cloth/basic-math/0.6.0/basic-math-0.6.0-sources.jar
.gradle/loom-cache/remapped_mods/net_fabricmc_yarn_1_18_1_18_build_1_v2/com/terraformersmc/modmenu/3.0.0/modmenu-3.0.0.pom
.gradle/loom-cache/remapped_mods/net_fabricmc_yarn_1_18_1_18_build_1_v2/com/terraformersmc/modmenu/3.0.0/modmenu-3.0.0.jar
.gradle/loom-cache/remapped_mods/net_fabricmc_yarn_1_18_1_18_build_1_v2/com/terraformersmc/modmenu/3.0.0/modmenu-3.0.0-sources.jar
.gradle/loom-cache/remapClasspath.txt
.gradle/loom-cache/log4j.xml
.gradle/loom-cache/launch.cfg
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.3.1/gc.properties
.gradle/7.3.1/fileHashes/fileHashes.lock
.gradle/7.3.1/fileChanges/last-build.bin
.gradle/7.3.1/executionHistory/executionHistory.lock
.gradle/7.3.1/dependencies-accessors/gc.properties
.gradle/7.3.1/dependencies-accessors/dependencies-accessors.lock
.gradle/7.3.1/checksums/sha1-checksums.bin
.gradle/7.3.1/checksums/md5-checksums.bin
.gradle/7.3.1/checksums/checksums.lock
.idea/runConfigurations/Minecraft_Client.xml
.idea/runConfigurations/Minecraft_Server.xml
